@CHARSET "UTF-8";

body{
	background-color: #fff;
	text-align: center; /*Centraliza no IE*/
	margin: 8px 0 0 0;
	font-family: Times new Roman;
}

#tudo{
	width: 85%;
	margin: 0 auto; /*Centraliza em navegadores padrão*/
	text-align: left; /*Retorna o alinhamento de textos para a esquerda*/
}

#header{
	-moz-border-radius: 8px;
	border: 3px solid #fff;
	background-color: lime;
	height: 130px;
}

.logo{
	margin: 12px;
}

#menu{
	height: 40px;
	background: #002a99;
	border: 1px solid #fff;
	-moz-border-radius: 8px;
}

#menu ul li{
	list-style: none;
	display: inline;
}

{Estilo para Usuario}

#user{
	width: 26%;
	border-right: 1px solid #000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#user_res{
	width: 25.9%;
	margin: 0 0 -3px 1px;
	padding-top: 3px;
	border-right: 1px solid #000;
}

#tipo{
	width: 7.2%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#tipo_res{
	border-right: 1px solid #000;
	float: left;
	margin: -20px 5px -4px 301px;
	padding-top: 3px;
	text-align: center;
	width: 7.1%;
}

#fone{
	width: 9%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#fone_res{
	border-right: 1px solid #000;
	float: left;
	margin: -20px 5px -4px 385px;
	padding-top: 3px;
	text-align: center;
	width: 8.9%;
}

#email{
	width: 19.9%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#email_res{
	border-right: 1px solid #000;
	float: left;
	margin: -20px 5px -4px 492px;
	padding-top: 3px;
	text-align: left;
	width: 19.6%;
}

#igreja{
	width: 26.4%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#igreja_res{
	border-right: 1px solid #000;
	float: left;
	margin: -20px 0 -4px 720px;
	padding-top: 3px;
	text-align: left;
	width: 26.2%;
}

#action_res a{
	margin: 0 8px;
	text-decoration: none;	
}

{Fecha estilo para Usuario}


{Estilo Arquivo}

#date{
	width: 14%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#date_res{
	border-right: 1px solid #000;
	float: left;
	margin: -20px 0 -4px 652px;
	padding-top: 3px;
	text-align: center;
	width: 14%;
}

#compartilha{
	width: 18%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#compartilha_res{
	border-right: 1px solid #000;
	float: left;
	margin: -20px 0 -4px 814px;
	padding-top: 3px;
	text-align: center;
	width: 18%;
}


{Fecha estilo Arquivo}

{Estilo Curso}

#curso{
	width: 56%;
	border-right: 1px solid #000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#curso_res{
	width: 55.9%;
	margin: 0 0 -3px 1px;
	padding-top: 3px;
	border-right: 1px solid #000;
}

#duracao{
	width: 32%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#duracao_res{
	border-right: 1px solid #000;
	float: left;
	margin: -19px 5px -3px 646px;
	padding: 0 0 3px 7px;
	text-align: left;
	width: 31.3%;
}

{Fecha estilo Curso}

{Estilo para Turma}

#prof{
	width: 32%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#prof_res{
	border-right: 1px solid #000;
	float: left;
	margin: -20px 5px -4px 651.5px;
	padding-top: 3px;
	text-align: center;
	width: 32%;
}

#ano{
	width: 17%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#ano_res{
	border-right: 1px solid #000;
	float: left;
	margin: -20px 5px -4px 457px;
	padding-top: 3px;
	text-align: center;
	width: 16.8%;
}

{Fecha estilo Turma}


{Abre estilo para Igreja}

#igrej{
	width: 48%;
	border-right: 1px solid #000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#igrej_res{
	width: 47.9%;
	margin: 0 0 -3px 1px;
	padding-top: 3px;
	border-right: 1px solid #000;
}

#tel{
	width: 12%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#tel_res{
	border-right: 1px solid #000;
	float: left;
	margin: -20px 5px -4px 554px;
	padding: 0 0 4px 7px;
	text-align: center;
	width: 11.3%;	
}

#pastor{
	width: 28%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#pastor_res{
	border-right: 1px solid #000;
	float: left;
	margin: -20px 5px -4px 693px;
	padding: 0 0 4px 7px;
	text-align: center;
	width: 27.3%;
}


{Fecha estilo para Igreja}


{Abre estilo para Boletim}

#boletim{
	text-align: center;
	margin 0 auto;
}

#cabeca div{
	margin: 15px 0 0 0;
	padding: 2px 0 2px 0;
	width: 9%;
	border: 1px solid #000;
	display: inline-block;
}

#turma{
	margin: 2px 0 0 1px;
	width: 14%;
	border: 1px solid #000;
}

#corpo{
	width: 64%;
	margin: 1px 0 60px 207px;
}

#nota1{
	border: 1px solid #000;
	float: right;
	margin: -21px 530px 0 0;
	width: 14%;
}

#nota2{
	
	width: 14%;
	float: right;
	border: 1px solid #000;
	margin: -21px 423px 0 0;
}

#nota3{
	
	width: 13.8%;
	float: right;
	border: 1px solid #000;
	margin: -21px 317px 0 0;
}

#faltas{
	width: 14%;
	float: right;
	border: 1px solid #000;
	margin: -21px 210px 0 0;		
}

#media{
	
	width: 13.8%;
	float: right;
	border: 1px solid #000;
	margin: -21px 104px 0 0;
}

#status{
	width: 14%;
	float: right;
	border: 1px solid #000;
	margin: -21px -3px 0 0;	
}

{Estilo para Chamada;}

#chamada{
	margin: 0 auto;		
}

#chamada div{
	display: inline-block;
	font-size: 17px;
}

#nome{
	width: 39.5%;
	border-right: 1px solid #000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#nome_res{
	width: 39.4%;
	margin: 0 0 -4px 1px;
	padding-top: 2px;
	border-right: 1px solid #000;	
}

#data{
	width: 29%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#data_res{	
	border-right: 1px solid #000;
	float: left;
	margin: -19px 0 -3px 456px;
	padding-top: 2px;
	text-align: center;
	width: 28.9%;	
}

#falt{
	width: 20%;
	border-right: 1px solid #000;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#falt_res{	
	border-right: 1px solid #000;
	float: left;
	margin: -19px 0 0 790px;
	padding-top: 2px;
	text-align: center;
	width: 20%;
}

#action{
	width: 11%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-image: url(/images/cabeca.jpg);
	background-repeat:repeat-x;
	text-align: center;
	padding: 1px 0 1px 0;
}
#action_res{
	
	width: 11%;
	margin: -19px 0 -3px 1021px;
	padding-top: 3px;
	float: left;
	text-align: center;	
}
{Fecha estilo para Chamada}

#footer{
	
	text-align: center;
	border: 1px solid #fff;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 90px;
	background-color: #4d4d4d;
}
#footer p{
	text-align: center;
	font-size: 14px;
	line-height: 70px;
	color: #fff; 
}